<!doctype html>
<html lang="en-us">
<head>
  {{#block "head"}}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">-->
      <title>{{#block "title"}}{{/block}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="style.css" />
  {{/block}}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{#block "header"}}{{/block}}
    </div>
</nav>
<main id="sections" class="container" role="main">
    <section id="section-summary">
      {{#block "summary"}}{{/block}}
    </section>
    <hr class="separator" />
    <section id="section-experience">
      {{#block "experience"}}{{/block}}
    </section>
    <section id="section-skills">
      {{#block "skills"}}{{/block}}
    </section>
    <section id="section-education">
      {{#block "education"}}{{/block}}
    </section>
    <section id="section-awards">
      {{#block "awards"}}{{/block}}
    </section>
    <section id="section-volunteer">
      {{#block "volunteer"}}{{/block}}
    </section>
    <section id="section-interests">
      {{#block "interests"}}{{/block}}
    </section>
    <footer id="footer">
      {{#block "footer"}}{{/block}}
    </footer>
  {{#block "scripts"}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.1/holder.min.js" type="text/javascript"></script>
      <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>-->
  {{/block}}
</main>
</body>
</html>
